*{box-sizing: border-box;}
:root{
--primaryColor:#9b9194;
  --primaryLight:#ccc1c4;
  --primaryDark:#6d6366;
  --secondayColor:#9b6972;
  --secondaryLight:#cd97a0;
  --secondaryDark:#6c3e47;

}
*{
  background-color: darkred;
}
/*sticky position*/
.stickyTop{
  font-size: 1em;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  position: sticky; /* mac browser*/
  top: 0px;
}

.template{
  background-color: var(--secondaryDark);
  color: black;
  text-align: center;
  position: relative;
  font-family: fantasy;
  font-size: 200%;
  }

@keyframes animate{
  0%{
    font-size: 200%;
    opacity:0 ;
  }
  50%{
    font-size: 300%;
    opacity: 1;
  }
  65%{
    font-size: 300%;
    opacity: 1;
  }
  80%{
  font-size: 200%;
  opacity: 0;
  }

}
.container{
padding: 12px;
}
  .background{
    width: 40%;
    background-size: 50%;
    margin-left: 30%;
}
.box{
background-image: url(stand.jpg);
position:relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: 100% 100%;
  height: 300px;
  width: 600px;
  font-size: 30px;
  border-style: ridge;
  filter: grayscale(200%);
  animation: animate 10s backwards;
}
.p_box{
  position: relative;
  text-align: left;
  font-size: 20px;
  font-family: inherit;
  color: white;
}
.o_box{
  position: relative;
  text-align: left;
  font-size: 20px;
  font-family: inherit;
  color: white;
}

.re{
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
color: #6c3e47;

}
.template1{
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  background-color: var(--secondaryDark);
  color: blue;
}
.image1{
  position: relative;
  width:50%;
  height:40%;
  top: 80%;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  animation: animate 10s backwards;
}
  .box_1{
    position: relative;
    top: 70%;
    bottom: 50%;
    left: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-family: inherit;
    color: white;
}
.template2{
position: relative;
text-align: center;
font-size: 30px;
font-family: inherit;
background-color: var(--secondaryDark);
color: blue;
}
.image2 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: 80px;
  margin-right: 100px;
  margin-top:10px;
  margin-bottom: 30px;
border-style: hidden;
padding: 10px;
background-color: black;
}
.image3{
position: relative;
width: 300px;
height: 300px;
margin-left: 80px;
margin-right: 100px;
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
background-color: black;
}
.s_box{
  text-align: auto;
  position: relative;
  font-size: 20px;
  font-family: inherit;

}
.t-box{
  text-align: auto;
  position: relative;
  font-size: 20px;
  font-family: inherit;
}
.d{
  position: relative;
  width:600px;
  height:900px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
}
.n_box{
  position: relative;
  text-align: auto;
  font-size: 20px;
  font-family: inherit;
  color: white;
}
/*footer*/
.footer{
position:
  text-align: center;
color: green;
}
